{% extends "Group3ABundle:page-bases:aircraft.html.twig" %}

{% block content %}
    {% if aircraft is not null %}
        <div class="content-header pure-g">
            <div class="pure-u-3-4">
                <h1 class="content-title">{{aircraft.tailNumber}}</h1>
                <p class="content-subtitle">
                     <span>{{aircraft.type}}</span> Fuel: {{aircraft.fuelQuantity}}
                </p>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="content-controls pure-u-1-4">
                    <a href="{{path('aircraftViewEdit', {'id': aircraft.id})}}" class="edit-button pure-button">Edit</a>
                    <a href="{{path('aircraftDelete', {'id': aircraft.id})}}" class="delete-button pure-button">Delete</a>
                </div>
            {% endif %}
        </div>

        <div class="content-body">
        </div>
    {% endif %}
{% endblock %}