{% extends "Group3ABundle:page-bases:customer.html.twig" %}

{% block content %}
    {% if customer is not null %}
        <div class="content-header pure-g">
            <div class="pure-u-3-4">
                <h1 class="content-title">{{customer.firstName}} {{customer.lastName}}</h1>
                <p class="content-subtitle">
                    <a href="mailto:{{customer.emailAddress}}">{{customer.emailAddress}}</a><br>
                    {{customer.street}} <span>{{customer.city}}, {{customer.state}} {{customer.zip}}</span> {{customer.country}}
                </p>
            </div>

            <div class="content-controls pure-u-1-4">
                <a href="{{path('customerViewEdit', {'id': customer.id})}}" class="edit-button pure-button">Edit</a>
                <a href="{{path('customerDelete', {'id': customer.id})}}" class="delete-button pure-button">Delete</a>
            </div>
        </div>

        <div class="content-body">
            <table class="pure-table pure-table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in customer.orders %}
                        <tr>
                            <td>
                                <a href="{{ path('orderGet', {id: order.id}) }}">
                                    {{ order.orderDate | date('m/d/y h:m:s A')}}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('orderGet', {id: order.id}) }}">
                                    {{ order.orderStatus }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('orderGet', {id: order.id}) }}">
                                    ${{ order.totalAmount |number_format(2, '.', ',') }}
                                </a>
                            </td>
                            <td>
                                <a href="{{ path('orderGet', {id: order.id}) }}">
                                    {{ order.orderDetails|length }}
                                </a>
                            </td>
                        </tr>
                    {%  endfor  %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}