{% extends "base.html.twig" %}
{% import "Group3ABundle:components:list-item.html.twig" as listItem %}
{% import "Group3ABundle:components:list-header.html.twig" as listHeader %}

{% block stylesheets %}
    {{parent()}}
    {% stylesheets filter='cssrewrite'
        "@Group3ABundle/Resources/public/css/global.css"
        "@Group3ABundle/Resources/public/css/alert-bar.css"
        "@Group3ABundle/Resources/public/css/form.css"
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% for label, flashes in app.session.flashbag.all %}
        <div id="alert">
            {% for flash in flashes %}
                <a class="alert alert-{{ label }}" href="#alert">{{ flash }}</a>
            {% endfor %}
        </div>
    {% endfor %}

    <div id="layout" class="content pure-g">
        <nav id="nav" class="pure-u">
            <a href="#" class="nav-menu-button">Menu</a>

            <div class="nav-inner">
                <div class="pure-menu pure-menu-open">
                    <ul>
                        <li class="pure-menu-heading">Overwhelmed<br>Commerce</li>
                        <li {% if app.request.get('_route') starts with 'customer' %} class="selected"{% endif %}><a href="{{path('customerGet')}}">Customers</a></li>
                        <li {% if app.request.get('_route') starts with 'order' %} class="selected"{% endif %}><a href="{{path('orderGet')}}">Orders</a></li>
                        <li {% if app.request.get('_route') starts with 'item' %} class="selected"{% endif %}><a href="{{path('itemGet')}}">Items</a></li>
                        <li {% if app.request.get('_route') starts with 'shipment' %} class="selected"{% endif %}><a href="{{path('shipmentGet')}}">Shipments</a></li>
                    </ul>
                </div>
                <button class="primary-button pure-button">Login</button>
            </div>
        </nav>

        <div id="list" class="pure-u-1">
            {% block list %}
            {% endblock %}
        </div>


        <div id="main" class="pure-u-1">
            <div class="content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{parent()}}
    {% javascripts
    '@Group3ABundle/Resources/public/js/menu-handler.js' %}
    <script src='{{ asset_url }}' type='text/javascript'></script>
    {% endjavascripts %}
{% endblock %}