{% extends "Group3ABundle:page-bases:aircrew.html.twig" %}

{% block content %}
    {% if aircrew is not null %}
        <div class="content-header pure-g">
            <div class="pure-u-3-4">
                <h1 class="content-title">{{aircrew.id}}</h1>
                <p class="content-subtitle">
                     Pilot: <span>{{aircrew.pilot}}</span><br>
                    Navigator: <span>{{ aircrew.navigator }}</span>
                </p>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="content-controls pure-u-1-4">
                    <a href="{{path('aircrewViewEdit', {'id': aircrew.id})}}" class="edit-button pure-button">Edit</a>
                    <a href="{{path('aircrewDelete', {'id': aircrew.id})}}" class="delete-button pure-button">Delete</a>
                </div>
            {% endif %}
        </div>

        <div class="content-body">
            <h2>Flights</h2>
            <table class="pure-table pure-table-striped">
                <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Departure Date</th>
                    <th>Departure Airport</th>
                    <th>Arrival Date</th>
                    <th>Arrival Airport</th>
                    <th>Aircraft Tail Number</th>
                    <th>Aircraft Type</th>
                </tr>
                </thead>
                <tbody>
                {% for flight in aircrew.flights %}
                    <tr>
                        <td>
                            <a href="{{ path('flightGet', {id: flight.id}) }}">
                                {{ flight.flightNumber }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('flightGet', {id: flight.id}) }}">
                                {{ flight.departTime | date('m/d/y h:i:s A')}}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('flightGet', {id: flight.id}) }}">
                                {{ flight.departAirport }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('flightGet', {id: flight.id}) }}">
                                {{ flight.arrivalTime| date('m/d/y h:i:s A')}}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('flightGet', {id: flight.id}) }}">
                                {{ flight.arrivalAirport }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('flightGet', {id: flight.id}) }}">
                                {{ flight.aircraft.tailNumber }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('flightGet', {id: flight.id}) }}">
                                {{ flight.aircraft.type }}
                            </a>
                        </td>
                    </tr>
                {%  endfor  %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}