{% extends "Group3ABundle:page-bases:aircrew.html.twig" %}

{% block content %}
    {% if aircrew is not null %}
        <div class="content-header pure-g">
            <div class="pure-u-3-4">
                <h1 class="content-title">{{aircrew.id}}</h1>
                <p class="content-subtitle">
                     Pilot: <span>{{aircrew.pilot}}</span><br>
                    Navigator: <span>{{ aircrew.navigator }}</span>
                </p>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="content-controls pure-u-1-4">
                    <a href="{{path('aircrewViewEdit', {'id': aircrew.id})}}" class="edit-button pure-button">Edit</a>
                    <a href="{{path('aircrewDelete', {'id': aircrew.id})}}" class="delete-button pure-button">Delete</a>
                </div>
            {% endif %}
        </div>

        <div class="content-body">
        </div>
    {% endif %}
{% endblock %}