{% macro customerHeader() %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="list-item controls">
            <a href="{{path('customerViewCreate')}}" class="add-button pure-button">
                Create
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% macro itemHeader() %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="list-item controls">
            <a href="{{path('itemViewCreate')}}" class="add-button pure-button">
                Create
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% macro aircraftHeader() %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="list-item controls">
            <a href="{{path('aircraftViewCreate')}}" class="add-button pure-button">
                Create
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% macro airportHeader() %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="list-item controls">
            <a href="{{path('airportViewCreate')}}" class="add-button pure-button">
                Create
            </a>
        </div>
    {% endif %}
{% endmacro %}


{% macro aircrewHeader() %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="list-item controls">
            <a href="{{path('aircrewViewCreate')}}" class="add-button pure-button">
                Create
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% macro orderHeader(startDate, stopDate) %}
    <div class="list-item controls">
        <form class="pure-form pure-form-aligned">
            <div class="pure-control-group">
                <input type="text" placeholder="Filter by Order ID" name="order-id"/>
            </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="pure-control-group">
                        <input type="date" placeholder="Filter Start Date" name="start-date" value="{{ startDate }}"/>
                    </div>
                    <div class="pure-control-group">
                        <input type="date" placeholder="Filter Stop Date" name="stop-date" value="{{ stopDate }}"/>
                    </div>
                {% endif %}
                <button class="edit-button pure-button" type="submit">Filter</button>
        </form>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{path('orderViewCreate')}}" class="add-button pure-button">
                Create
            </a>
        {% endif %}
    </div>

{% endmacro %}