{% macro customer(customer, active) %}
    {% if customer.id == active %}
        <div class="list-item pure-g selected">
    {% else %}
        <div class="list-item pure-g">
    {% endif %}
        <a href="{{path('customerGet', {'id': customer.id})}}">
            <div class="pure-u">
                <h5 class="name">{{customer.firstName}} {{customer.lastName}}</h5>
                <p class="desc">
                    {{customer.emailAddress}}
                </p>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro item(item, active) %}
    {% if item.id == active %}
        <div class="list-item pure-g selected">
    {% else %}
        <div class="list-item pure-g">
    {% endif %}
        <a href="{{path('itemGet', {'id': item.id})}}">
            <div class="pure-u">
                <h5 class="name">{{item.itemName}}</h5>
                <p class="desc">
                    {{item.itemDescription}}
                </p>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro order(order, active) %}
    {% if order.id == active %}
        <div class="list-item pure-g selected">
    {% else %}
        <div class="list-item pure-g">
    {% endif %}
        <a href="{{path('orderGet', {'id': order.id})}}">
            <div class="pure-u">
                <h5 class="name">Order #{{order.id}} - {{order.orderDate | date('m/d/y')}}</h5>
                <p class="desc">
                    Ordered By: {{order.customer.firstName}} {{order.customer.lastName}}
                </p>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro aircraft(aircraft, active) %}
    {% if aircraft.id == active %}
    <div class="list-item pure-g selected">
    {% else %}
    <div class="list-item pure-g">
        {% endif %}
        <a href="{{path('aircraftGet', {'id': aircraft.id})}}">
            <div class="pure-u">
                <h5 class="name">{{aircraft.tailNumber}}</h5>
                <p class="desc">
                    {{aircraft.type}}
                    {{aircraft.fuelQuantity}}
                </p>
            </div>
        </a>
    </div>
{% endmacro %}

{% macro airport(airport, active) %}
    {% if airport.id == active %}
    <div class="list-item pure-g selected">
        {% else %}
        <div class="list-item pure-g">
            {% endif %}
            <a href="{{path('airportGet', {'id': airport.id})}}">
                <div class="pure-u">
                    <h5 class="name">{{airport.name}}</h5>
                    <p class="desc">
                        {{airport.code}}
                    </p>
                </div>
            </a>
        </div>
{% endmacro %}

{% macro aircrew(aircrew, active) %}
    {% if aircrew.id == active %}
    <div class="list-item pure-g selected">
        {% else %}
        <div class="list-item pure-g">
            {% endif %}
            <a href="{{path('aircrewGet', {'id': aircrew.id})}}">
                <div class="pure-u">
                    <h5 class="name">{{aircrew.id}}</h5>
                    <p class="desc">
                        {{aircrew.pilot}}
                    </p>
                </div>
            </a>
        </div>
{% endmacro %}

{% macro cargo(cargo, active) %}
    {% if cargo.id == active %}
    <div class="list-item pure-g selected">
        {% else %}
        <div class="list-item pure-g">
            {% endif %}
            <a href="{{path('cargoGet', {'id': cargo.id})}}">
                <div class="pure-u">
                    <h5 class="name">{{cargo.id}}</h5>
                    <p class="desc">
                        {{ cargo.contents }}
                    </p>
                </div>
            </a>
        </div>
{% endmacro %}