{% extends "Group3ABundle:page-bases:order.html.twig" %}

{% block content %}
    {% if order is not null %}
        <div class="content-header pure-g">
            <div class="pure-u-3-4">
                <h1 class="content-title">Order #{{order.id}}</h1>
                <p class="content-subtitle">
                    {{order.orderDate | date('m/d/y h:m:s A')}}<br>
                    <a href="{{path('customerGet', {id: order.customer.id})}}">{{order.customer.firstName}} {{order.customer.lastName}}</a><br>
                    <span>Status: {{order.orderStatus}}</span>
                </p>
            </div>

            <div class="content-controls pure-u-1-4">
                <a href="{{path('orderViewEdit', {'id': order.id})}}" class="edit-button pure-button">Edit</a>
                <a href="{{path('orderDelete', {'id': order.id})}}" class="delete-button pure-button">Delete</a>
            </div>
        </div>

        <div class="content-body">
                <table class="pure-table">
                    <tr>
                        <th>Item Name</th>
                    </tr>
                    {% for detail in order.orderDetails %}
                       <tr>
                           <td>{{detail.item.itemName}}</td>
                       </tr>
                    {% endfor %}
                </table>
        </div>
    {% endif %}
{% endblock %}