{% extends "Group3ABundle:page-bases:order.html.twig" %}

{% block content %}
    {% if order is not null %}
        <div class="content-header pure-g">
            <div class="pure-u-3-4">
                <h1 class="content-title">Order #{{order.id}}</h1>
                <p class="content-subtitle">
                    {{order.orderDate | date('m/d/y h:m:s A')}}<br>
                    <a href="{{path('customerGet', {id: order.customer.id})}}">{{order.customer.firstName}} {{order.customer.lastName}}</a><br>
                    <span>Status: {{order.orderStatus}}</span>
                </p>
            </div>

            <div class="content-controls pure-u-1-4">
                <a href="{{path('orderViewEdit', {'id': order.id})}}" class="edit-button pure-button">Edit</a>
                <a href="{{path('orderDelete', {'id': order.id})}}" class="delete-button pure-button">Delete</a>
            </div>
        </div>

        <div class="content-body">
                <table class="pure-table pure-table-striped">
                    <thead>
                        <tr>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in order.orderDetails %}
                           <tr>
                               <td>{{detail.item.itemName}}</td>
                               <td>{{detail.itemQuantity}}</td>
                               <td>${{detail.item.price | number_format(2, '.', ',') }}</td>
                               <td>${{(detail.item.price * detail.itemQuantity) | number_format(2, '.', ',') }}</td>
                           </tr>
                        {% endfor %}
                        <tr>
                            <td>Total Price</td>
                            <td></td>
                            <td></td>
                            <td>${{ order.totalAmount|number_format(2, '.', ',') }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    {% endif %}
{% endblock %}